(
    scale: 3.0,
    geometry: (
        main_plane: 200,
        quantity: 20,
    ),
    player:(
        zoom: (1.5, 30.0),
        movement: (
            speed: 500,
            actions_in_air: 2,
            dash_distance: 10,
        ),
        hitbox:(
            radius: 0.5,
            height: 1.5
        ),
    )
)
