(
    scale: 3.0,
    geometry: (
        quantity: 10,
        y_upper_bound: 300,
        y_lower_bound: 10,
        x_upper_bound: 200,
        x_lower_bound: 10,
        z_upper_bound: 200,
        z_lower_bound: 10,
    )
)
