(
    fov: 45.0,
    sound: (
        general: 1.0,
        music: 0.5,
        sfx: 0.5,
    ),
    modals: [],
    sun_cycle: DayNight,
    last_screen: Title,
    keybind: (
        forward: [
            Keyboard(
                key: KeyW,
                mod_keys: (0),
            ),
            Keyboard(
                key: ArrowUp,
                mod_keys: (0),
            ),
        ],
        left: [
            Keyboard(
                key: KeyA,
                mod_keys: (0),
            ),
            Keyboard(
                key: ArrowLeft,
                mod_keys: (0),
            ),
        ],
        backward: [
            Keyboard(
                key: KeyS,
                mod_keys: (0),
            ),
            Keyboard(
                key: ArrowDown,
                mod_keys: (0),
            ),
        ],
        right: [
            Keyboard(
                key: KeyD,
                mod_keys: (0),
            ),
            Keyboard(
                key: ArrowRight,
                mod_keys: (0),
            ),
        ],
        jump: [
            Keyboard(
                key: Space,
                mod_keys: (0),
            ),
        ],
        run: [
            Keyboard(
                key: ShiftLeft,
                mod_keys: (0),
            ),
        ],
        fire: [
            MouseButton(
                button: Left,
                mod_keys: (0),
            ),
        ],
    ),
    diagnostics: true,
    debug_ui: false,
    paused: false,
    muted: false,
)